Author: Hieu Nguyen
Date: 09/10/2019
Assignment 1: Gathering data using XML in Python

In [0]:
import urllib.request
import requests
from lxml import objectify,etree
xml = urllib.request.urlopen('http://data.treasury.gov/feed.svc/DailyTreasuryYieldCurveRateData?$filter=year(NEW_DATE)%20eq%202017').read()

Find all yield rate type

In [0]:
tree = etree.fromstring(xml)
tree.xpath("//*")
newdate = tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}NEW_DATE")
tbill1month =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_1MONTH")
tbill3month =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_3MONTH")
tbill6month =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_6MONTH")
tbill1year =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_1YEAR")
tbill2year =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_2YEAR")
tbill3year =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_3YEAR")
tbill5year =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_5YEAR")
tbill7year =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_7YEAR")
tbill10year =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_10YEAR")
tbill20year =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_20YEAR")
tbill30year =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_30YEAR")

Use pandas library for data frame

In [0]:
import pandas as pd
df = pd.DataFrame(columns=['Date','1 Mo','3 Mo','6 Mo','1 Yr', '2 Yr', '3 Yr','5 Yr','7 Yr', '10 Yr', '20 Yr', '30 Yr'])

Loop through every single values and add them to the table

In [0]:
for i in range(len(newdate)):
  tmp = pd.DataFrame([[newdate[i].text[:-9],tbill1month[i].text,
                     tbill3month[i].text,tbill6month[i].text,tbill1year[i].text,
                     tbill2year[i].text,tbill3year[i].text,tbill5year[i].text,
                     tbill7year[i].text,tbill10year[i].text,tbill20year[i].text,
                     tbill30year[i].text]],columns=['Date','1 Mo','3 Mo','6 Mo','1 Yr', '2 Yr', '3 Yr','5 Yr','7 Yr', '10 Yr', '20 Yr', '30 Yr'])
  df = df.append(tmp,ignore_index=True)
#print(df)

This loop through several year of data, and produce similar result as above

In [0]:
df2 = pd.DataFrame(columns=['Date','1 Mo','3 Mo','6 Mo','1 Yr', '2 Yr', '3 Yr','5 Yr','7 Yr', '10 Yr', '20 Yr', '30 Yr'])
for year in ['2010','2011','2012','2013','2014','2015','2016','2017','2018']:
  tmpxml = urllib.request.urlopen('http://data.treasury.gov/feed.svc/DailyTreasuryYieldCurveRateData?$filter=year(NEW_DATE)%20eq%20{}'.format(year)).read()
  tmptree = etree.fromstring(tmpxml)
  tmptree.xpath("//*")
  tmpnewdate = tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}NEW_DATE")
  tmptbill1month =tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_1MONTH")
  tmptbill3month =tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_3MONTH")
  tmptbill6month =tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_6MONTH")
  tmptbill1year =tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_1YEAR")
  tmptbill2year =tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_2YEAR")
  tmptbill3year =tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_3YEAR")
  tmptbill5year =tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_5YEAR")
  tmptbill7year =tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_7YEAR")
  tmptbill10year =tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_10YEAR")
  tmptbill20year =tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_20YEAR")
  tmptbill30year =tmptree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}BC_30YEAR")
  for i in range(len(tmpnewdate)):
    tmp = pd.DataFrame([[tmpnewdate[i].text[:-9],tmptbill1month[i].text,
                     tmptbill3month[i].text,tmptbill6month[i].text,tmptbill1year[i].text,
                     tmptbill2year[i].text,tmptbill3year[i].text,tmptbill5year[i].text,
                     tmptbill7year[i].text,tmptbill10year[i].text,tmptbill20year[i].text,
                     tmptbill30year[i].text]],columns=['Date','1 Mo','3 Mo','6 Mo','1 Yr', '2 Yr', '3 Yr','5 Yr','7 Yr', '10 Yr', '20 Yr', '30 Yr'])
    df2 = df2.append(tmp,ignore_index=True)
#print(df2)

In [0]:
df2.to_excel('Group_005_assignment_001.xlsx')

In [0]:
from google.colab import files
files.download('Group_005_assignment_001.xlsx')